<nav class="navbar navbar-expand-lg bg-light shadow">
  <div class="container">
    <a class="navbar-brand" href="/"><span style="color: #80489c">Node Webgis</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fw-bold <%= locals.activeHome?activeHome:null %>" aria-current="page" href="/">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold <%= locals.activeTable?activeTable:null %>" aria-current="page" href="/table">Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold <%= locals.activeInput?activeInput:null %>" aria-current="page" href="/input">Input</a>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdown-button" data-bs-toggle="dropdown" aria-expanded="false"><img class="user-picture" src="/img/blank-pp.png" alt="profilepic" /></button>
      <ul class="dropdown-menu">
        <li>
          <span class="dropdown-item-text">Hello, <strong><%= locals.sessionUser?sessionUser.split(' ')[0]:"Guest"%></strong> &#128075;</span>
        </li>
        <% if(sessionUser){ %>
        <li><a class="btn btn-danger d-grid mx-2 mt-3 badge" href="/logout">Log out</a></li>
        <% } else { %>
        <li><a class="btn btn-success d-grid mx-2 mt-3 badge" href="/login">Log in</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
