<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-body">
          <h3 class="fw-bold" style="color: #80489c">About Us</h3>
          <hr />
          <p style="font-size: 1.1em">
            Mimi Cake and Cookies is a micro home business which focuses on the culinary field, especially cakes. Base The production of this business is in a private house located in Jambi City, Jambi Province. Mimi Cake and Cookies
            produces various kinds of cakes, both dry and wet. Lots cake options that customers can choose from such as lapis legit, masuba, ant nest cake, etc. The ingredients used are ensured of the best quality and health. Production is
            also done with detailed attention to the cleanliness of tools and materials as well as the place.
          </p>
          <hr />
          <div style="font-size: 8em">
            <i class="fa-solid fa-cake-candles" style="color: #ff8fb1"></i>
          </div>
          <div class="fw-bold fs-4">
            <blockquote>"Karena kami percaya kualitas produksi berbanding lurus dengan cita-rasa kue. Tidak hanya cita-rasa, estetika dari produk kami juga merupakan prioritas yang diutamakan."</blockquote>
          </div>
        </div>
        <hr />
        <div>
          <h3 class="fw-bold" style="color: #80489c">Contact Us</h3>
          <h5 class="mt-3"><i class="bi bi-whatsapp"></i> +6285219850202</h5>
          <h5 class="mt-2 mb-4"><i class="bi bi-envelope-fill"></i> ilhanmahardikap@gmail.com</h5>
        </div>
      </div>
    </div>
  </div>
</div>
