<div class="container mt-5">
  <div class="row jumbo">
    <div class="col">
      <div class="card jumbotron p-5" style="background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url('/img/cupcakes.jpg')">
        <h2>A sweet <span style="color: #80489c">luxury</span>.</h2>
        <h5 class="lead">We serve the best high quality product with affordable price!</h5>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col"></div>
  </div>
</div>
