<div class="container mt-5">
  <div class="row jumbo mt-4">
    <h1 class="fw-bold text-center mb-4" style="margin-top: 1.5rem; color: #80489c">Recommended Products</h1>
    <div class="col">
      <a href="/products/63830e3bb53e0b3167a1cdad" style="text-decoration: none">
        <div class="card jumbotron p-5 recommended-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url('/img/products-img/nastar.jpg')">
          <h2 style="color: #f49d1a">Nas<span style="color: #ffe15d">tar</span>.</h2>
          <h5 class="lead">Nastar is a pastry made from a mixture of flour, butter and eggs filled with pineapple jam.</h5>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/products/6381748a555673e1e1b71cd7" style="text-decoration: none">
        <div class="card jumbotron p-5 recommended-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url('/img/products-img/lapis-legit.jpg')">
          <h2 style="color: #f49d1a">Lapis <span style="color: #ffe15d">Legit</span>.</h2>
          <h5 class="lead">Spekkoek is a type of Indonesian layer cake. It was developed during colonial times in the Dutch East Indies.</h5>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-4"></div>
</div>
