<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="fw-bold">Checkout Summary</h3>
          <div class="mt-3">
            <% (cart.products).forEach(cart => { %>
            <div><i class="bi bi-check-circle-fill text-success"></i> <%= cart.name %> <i class="bi bi-arrow-right"></i> <span class="fw-bold">Rp <%= cart.price.toLocaleString() %> x<%= cart.quantity %> </span></div>
            <% }) %>
          </div>
          <hr />
          <h3 class="text-end">Total: <span class="fw-bold">Rp <%= cart.grandTotal.toLocaleString() %> </span></h3>
        </div>
      </div>
    </div>
    <div class="col ms-0">
      <div class="card">
        <div class="card-body">
          <form action="/payment" method="POST">
            <h3 class="fw-bold">Delivery Option</h3>
            <select class="form-select form-select-lg" aria-label="Default select example" name="deliveryOption" required>
              <option value="deliver">Deliver to my address</option>
              <option value="pickup">Collect by myself</option>
            </select>
            <p class="card-text mt-2">
              <span class="fw-bold">Note: </span>If you plan to buy any product with "kue basah" category, we recommend selecting "Collect by myself". Delivery takes time and we don't want your beautiful cake to spoil before it reaches you.
            </p>
            <hr />
            <h3 class="fw-bold">Choose payment method</h3>
            <p class="card-text mt-3">Please choose one transfer method below.</p>
            <div class="mt-3 d-grid">
              <div class="form-check btn btn-radio mb-2" style="padding-left: 2rem">
                <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault1" value="bni" checked />
                <label class="form-check-label d-grid d-flex justify-content-center" for="flexRadioDefault1"><img src="/img/logo_bni.png" alt="" /></label>
              </div>
              <div class="form-check btn btn-radio mb-2" style="padding-left: 2rem">
                <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault2" value="bsi" />
                <label class="form-check-label d-grid d-flex justify-content-center" for="flexRadioDefault2"><img src="/img/logo_bsi.png" alt="" /></label>
              </div>
              <div class="form-check btn btn-radio mb-2" style="padding-left: 2rem">
                <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault3" value="dana" />
                <label class="form-check-label d-grid d-flex justify-content-center" for="flexRadioDefault3"><img src="/img/logo_dana.png" alt="" /></label>
              </div>
              <div class="form-check btn btn-radio" style="padding-left: 2rem">
                <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault4" value="ovo" />
                <label class="form-check-label d-grid d-flex justify-content-center" for="flexRadioDefault4"><img src="/img/logo_ovo.png" alt="" /></label>
              </div>
              <hr />
              <button class="btn btn-primary">Pay Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
