@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oswald:wght@300;400;500;700&family=Titillium+Web:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(242, 242, 242);
  font-family: "Titillium Web", sans-serif;
  color: rgb(81, 81, 81);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
}

footer {
  margin-top: 8rem;
  background-color: #432c7a;
  color: whitesmoke;
}

.footer-logo {
  font-family: "Alfa Slab One", cursive;
  font-size: 2em;
  text-decoration: none;
  color: #ff8fb1;
}

.footer-logo:hover {
  color: whitesmoke;
}

.jumbotron {
  width: 100%;
  height: 16rem;
  border-radius: 16px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron h2 {
  font-family: "Alfa Slab One", cursive;
  color: #de4875;
  font-size: 4em;
}

.jumbotron h5 {
  color: whitesmoke;
}

.btn-primary {
  background-color: #ff8fb1;
  border-color: #ff8fb1;
}

.btn-primary:hover {
  background-color: #80489c;
  border-color: #80489c;
}

.btn-primary:focus {
  background-color: #80489c;
  border-color: #80489c;
  outline: none;
}

.btn-secondary {
  background: none;
  border-color: #ff8fb1;
  color: #ff8fb1;
}

.btn-secondary:hover {
  background: none;
  border-color: #80489c;
  color: #80489c;
}

.btn-category {
  color: rgb(81, 81, 81);
  background-color: whitesmoke;
}

.btn-category:hover {
  color: rgb(81, 81, 81);
  background-color: rgb(232, 232, 232);
}

.btn-radio {
  background: none;
  border-color: #80489c;
  color: #80489c;
  padding: 1rem 2rem;
}

.btn-radio:hover {
  background: none;
  border-color: #432c7a;
  color: #432c7a;
}

.btn-radio label img {
  max-height: 1.4rem;
}

.category-active {
  background-color: rgb(232, 232, 232);
}

.log-reg-card {
  margin-top: 5em;
  width: 25em;
}

.nav-link {
  color: #ff8fb1;
  margin-right: 2em;
}

.nav-link.no-margin {
  margin-right: 0;
}

.nav-link:hover {
  color: #de4875;
}

.nav-link:focus {
  color: #de4875;
  outline: none;
}

.navbar-brand {
  font-family: "Alfa Slab One", cursive;
  font-size: 2em;
}

.navbar-nav:first-child {
  margin-left: 2em;
}

.user-picture {
  width: 2.5em;
  height: 2.5em;
  border-radius: 180px;
  object-fit: cover;
  object-position: center;
}

#dropdown-button:hover {
  background-color: rgb(237, 237, 237);
}

.active {
  color: #de4875;
  text-decoration: underline;
}

.active-pill {
  background-color: #80489c;
  border-radius: 8px;
}

.active-pill a {
  color: white;
}

.active-pill a:hover {
  color: white;
}

.active-pill a:focus {
  color: white;
}

.search-bar {
  margin-right: 6rem;
}

.search-bar > input {
  border-radius: 10px 0 0 10px;
}

.search-bar > input:focus,
.search-bar > input:active {
  border-radius: 10px 0 0 10px;
  border-color: #80489c;
  box-shadow: none;
}

.search-bar > button {
  border-color: #80489c;
  background-color: #80489c;
  color: whitesmoke;
  border-radius: 0 10px 10px 0;
  font-size: 1.1em;
}

.search-bar > button:hover {
  border-color: #ff8fb1;
  background-color: #ff8fb1;
  color: #80489c;
  border-radius: 0 10px 10px 0;
}

.cart-button {
  font-size: 1.5em;
  color: #ff8fb1;
  transition: color ease-in 0.2s;
}

.cart-button:hover {
  color: #80489c;
}

.product-card {
  width: 14rem;
  height: 20rem;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all ease 0.3s;
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-card img {
  border-radius: 12px 12px 0 0;
  height: 55%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.social-link a {
  text-decoration: none;
  color: whitesmoke;
  transition: all ease 0.3s;
}

.social-link a:hover {
  text-decoration: none;
  color: rgb(202, 202, 202);
}

.excerpt {
  font-size: 0.8em;
}

.detail-img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.detail-img:hover {
  border: 3px solid #ff8fb1;
}

.cart-img {
  object-fit: cover;
  object-position: center;
  max-height: 20rem;
}
